.scale-selector {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-evenly;
}

.scale-selector > span {
    text-align: center;
    width: 80px;
}

.scale-selector__content {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 0.5rem;
    justify-content: space-around;
    width: 380px;
}

.scale-selector__content > button {
    aspect-ratio: 1;
    background-color: var(--color-surface);
    border-radius: 100%;
    border-width: 2px;
}

.scale-selector__content > button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.scale-selector__content > button:first-child,
.scale-selector__content > button:last-child {
    height: 3.25rem;
}

.scale-selector__content > button:nth-child(3),
.scale-selector__content > button:nth-child(5) {
    height: 2.75rem;
    min-height: 0;
}

.scale-selector__content > button:nth-child(4) {
    border-color: var(--color-neutral);
    height: 2.5rem;
    min-height: 0;
}

.scale-selector__content > button:nth-child(4).selected {
    background-color: var(--color-neutral);
}

.scale-selector__content > button:nth-child(-n + 3) {
    border-color: var(--color-accent-agree);
}

.scale-selector__content > button:nth-child(-n + 3).selected {
    background-color: var(--color-accent-agree);
}

.scale-selector__content > button:nth-last-of-type(-n + 3) {
    border-color: var(--color-accent-disagree);
}

.scale-selector__content > button:nth-last-of-type(-n + 3).selected {
    background-color: var(--color-accent-disagree);
}
