.acompanhamento-paciente {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 2rem 1rem;
}

.acompanhamento-paciente__content {
    background-color: var(--color-surface);
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.acompanhamento-paciente__header {
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
}

.acompanhamento-paciente__form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.acompanhamento-paciente__form__row {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.acompanhamento-paciente__form__row > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.25rem;
}

.acompanhamento-paciente__form__group {
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}
