.login-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    background-color: #006633;
    font-family: sans-serif;
}


.login-from{
    background-color: #006633;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-tittle{
    margin-bottom: 1.5rem;
    front-size: 2rem;
    color: #FFEEDA;
}

.form-input{
    width:100%;
    padding: 12px 15px;
    margin-bottom: 1rem;
    border: 1px solid #FFEEDA;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-input:focus{
    outline: none;
    border-color: #006633;
}

.btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
}