
.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: initial;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #193E21;
}

.login-form-wrapper {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 150%;
    max-width: 600px;
}

.login-header {
    text-align: center;
    margin-bottom: 2rem;
}

.form-title {
    font-size: 2rem;
    color: #193E21;
    margin: 0;
}

.form-subtitle {
    font-size: 1rem;
    color: #193E21;
    margin-top: 0.5rem;
}

.login-form .input-group {
    margin-bottom: 1.5rem;

}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f2f5f2;
    background-color: #f2f5f2;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #193E21;
}

.forgot-password-link {
    color: #193E21;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: #193E21;
    color: white;
}

.btn-secondary {
    background-color: white;
    color: #193E21;
    border-color: #193E21;
}

.separator {
    text-align: center;
    margin-bottom: 1rem;
    color: #aaa;
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    color: #193E21;
    border-color: #193E21;
}

.error-message {
    color: #193E21;
    text-align: center;
    margin-bottom: 1rem;
}

.login-logo{
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}